/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */
header {
    background-color: #93d0f4;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 10px;
    margin-top: 5px;
    padding: 5px;
    text-align: left;
    width: 100%;
    table-layout: auto;
}

th, td {
    width: 30%;
}

section {
    font-size: 9px;
    margin-bottom: 20px;
}

h2 {
    font-size: 15px;
}

ul a {
    color: #0079c1;
    text-decoration: none;
}
a:hover { 
    text-decoration: underline;
}

/* Added hover effect for table rows*/
tr:hover{
    background-color: #93d0f4;
}

footer { 
    color: white;
    background-color:#93d0f4;
    text-align: center;
    font-size: 9px;
    padding: 10px;

}